.aider*
.env
venv
tutor-next/.next
tutor-next/export
cache
trace
node_modules
result
vision_assistant.egg-info
__pycache__
tutor-next/out
tutor-next/export
*.debhelper
*.substvars
.pybuild
dev_config
debian/schulstick/
dist/*.deb
dist/*.tar.gz
dist/*.whl
*.qm