server {
    listen 127.0.0.1:3000;
    server_name localhost;

    root /usr/share/schulstick/tutor-next/export;
    index index.html;

    location / {
        try_files $uri $uri.html $uri/index.html =404;
    }

    # Deny access to .git and other hidden files
    location ~ /\. {
        deny all;
    }
}
