[Unit]
Description=Schulstick Tutor Server
After=network.target

[Service]
Type=simple
User=schulstick
Group=schulstick
WorkingDirectory=/usr/share/schulstick/tutor-next
Environment=NODE_ENV=production
ExecStart=/usr/bin/node .next/standalone/server.js
Restart=always

[Install]
WantedBy=multi-user.target
